.input_text{
    font-size: 16px;
    color: #fbfb05;
}

.input_wrapper{
    margin: 20px 0px;
}

.input {
    min-width: 300px;
    min-height: 35px;
    padding: 5px;
    font-size: 16px;
    font-weight: 800;
}

.inpt_lbl {
    margin: 5px 0px;
}

.error{
    color: #fb056b;
    font-size: 12px;
}