.wrapper{
    min-height: 100%;
    display: flex;
    flex:1;
    flex-direction: column;
}

.content_wrapper{
    display: flex;
    flex:1;
    justify-content: center;
    align-items: center;
}